.app {
  text-align: center;
}

.appHeader {
  height: 150px;
  max-height: 150px;
  background-color: #375b9f;
  overflow: hidden;
}

.appTitle {
  font-size: 1.5em;
}

.appContent {
  display: inline-block;
  font-size: large;
}

.degree {
  padding: 10px;
}

.icon {
  padding: 0px 0px 10px 0px;
  font-size: 40px;
}

.group {
  padding: 20px;
}

.weatherCard {
  max-width: 200px;
}

.cityName {
  padding-top: 10px;
  font-size: 25px;
}

.mainPageIcon {
  padding: 0px 0px 0px 0px;
  font-size: 40px;
}

.temperature {
  padding-bottom: 10px;
}

.mainPageWeatherCard {
  max-width: 250px;
  padding: 20px;
}

.footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
  color: gray;
}

.content {
  min-height: 100%;
}

.appTitle {
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 60px;
  font-size: 50px;
}