.app {
  text-align: center;
}

.appHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.appTitle {
  font-size: 1.5em;
}

.appContent {
  display: inline-block;
  font-size: large;
}

.degree {
  padding: 10px;
}

.icon {
  padding: 0px 0px 10px 0px;
  font-size: 40px;
}

.group {
  padding: 20px;
}

.weatherCard {
  max-width: 200px;
}

.cityName {
  padding-top: 5px;
  font-size: 25px;
}

.mainPageIcon {
  padding: 0px 0px 0px 0px;
}
